body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #F3F2EF;
}

.block {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #DBDBD8;
}

.hidden-trigger-button {
    visibility: hidden;
}

.require-color {
    color: #d92626;
}

.error-input {
    border: 2px solid #d92626;
    background-color: #ffe6e6;
}

#app {
    height: 100%;
    position: relative;
}